body{
    background-image: url(../Login/imagens/branco.png);
    padding: 0;
    height: 1vh;
   
    background-color: rgb(158, 160, 168);
    background-size: 100%;
     background-repeat: no-repeat;
}
.section{ 
    padding: 300px;
    justify-content: center;
    align-items: center;
    color: rgba(16, 212, 180, 0.979);
}

