body{
    background-image: url(../Login/imagens/branco.png);
    padding: 0;
    margin: 0;
    height: 1vh;
    width: 100%;
    position: relative;
    background-color: rgb(224, 218, 218);
    background-size: 100% ;
     background-image: cover;
     background-repeat: no-repeat;
}
.h1{ 
    color: rgba(18, 77, 77, 0.986);
    padding: 200px;
    justify-content: center;
    align-items: center;
 
}
