*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body{
    background-color: rgb(246, 246, 250);
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
   

}


.logo h1{
    text-align: start;
    font-style: italic;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    color: rgb(248, 248, 31);
    background-color: rgb(34, 92, 108);
    border-radius: 2rem;
    width: 250px;
    display: flex;
    flex-wrap: nowrap;
 justify-content: center;
 margin-bottom: 10px;
}
.sign{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: end;
    text-decoration: none;
    color: black;
    height: 50px;
    border-radius: 10px;
}

.container-fluid{
    padding: 0px;
    margin: 1px;
    background-color: antiquewhite;
}
.navbar-brand{
    display: flex;
    color: rgb(20, 197, 109);
    border-radius: 1rem;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: yellow;
}

.cards{
    display: flex;
    padding: 12px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1px;

}
.container h4{
    color: rgb(52, 212, 60)
}


.container a{
    text-decoration: none;
    color: rgb(242, 243, 245);
    justify-content: center;
    flex-direction: column;
}
.footer {
    display: flex;
    justify-content: end;
    align-content: end;
}
.footer a{ 
    padding: 50px;
    text-decoration: none;
    justify-content: space-between;
    color: rgb(248, 245, 245);
}
.section{
    background-color: rgba(6, 50, 63, 0.952);
}
.cardes{
        display: flex;
        padding: 12px;
   
}
.cardes a{
    text-decoration: none;
}
.pri a{
    display: flex;
    
}
.seg a{
    display: flex;
}
.ter a{
    display: flex;
}
.img{
    display: flex;
    justify-content: center;
    align-content: center;
    border-image: 10px;
}
.paragrafo{
    display: flex;
    justify-content: center;
    align-content: center;
}